<div class="icon" style="background-color: {{color}}">
    <div class="flex">
        {{#if is_archived}}
        <i class="ember-icon ember-icon-archive fa-lg" aria-hidden="true"></i>
        {{else if invite_only}}
        <i class="ember-icon ember-icon-lock" aria-hidden="true"></i>
        {{else if is_web_public}}
        <i class="ember-icon ember-icon-globe fa-lg" aria-hidden="true"></i>
        {{else}}
        <span class="ember-icon ember-icon-hashtag"></span>
        {{/if}}
    </div>
</div>
